<main class="bg-color">
    <div id="login-register" class="card">
        <div id="logo" class="card-header">
            <img id="logo-img" src="../../assets/icon/logo.png">
        </div>
        <div class="card-body">
            <div id="login" class="txt-ctr">
                <span class="txt-size-3-5em">Login</span>
                <div *ngIf="loginErrorMsg" class="container mb-2">
                    <span class="error-msg">{{loginErrorMsg}}</span>
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="loginUser.email" id="email" class="form-control grn-shadow" placeholder="Enter your email">
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="loginUser.password" id="password" class="form-control grn-shadow" [type] = "passwordType" placeholder="Enter your password">
                </div>
                <div class="password-check form mb-3">
                    <input type="checkbox" [(ngModel)]="viewPassword">
                    Show Password
                </div>
                <div>
                    <button class="btn btn-lg grn-shadow" (click)="login(loginUser)">Login</button>
                </div>
            </div>
            <div id="register" class="txt-ctr">
                <span class="txt-size-3-5em">Register</span>
                <div *ngIf="registerErrorMsg" class="container mb-2">
                    <span class="error-msg">{{registerErrorMsg}}</span>
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="registerUser.email" id="newEmail" class="form-control grn-shadow" placeholder="Enter your email">
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="registerUser.firstName" id="newFirstName" class="form-control grn-shadow" placeholder="First name">
                    <input [(ngModel)]="registerUser.lastName"id="newLastName" class="form-control grn-shadow" placeholder="Last name">
                </div>
                <div class="input-group mb-3">
                    <input [(ngModel)]="registerUser.password" id="newPassword" class="form-control grn-shadow" type="password" placeholder="Password">
                    <input [(ngModel)]="registerUser.confirmPassword" id="confirmPassword" class="form-control grn-shadow" type="password"
                        placeholder="Confirm password">
                </div>
                <div>
                    <button class="btn btn-lg grn-shadow" type="button" (click)="register(registerUser)">Create Account</button>
                </div>
            </div>
        </div>
    </div>
</main>