
<div [ngStyle]="hideSideBar?hideStyle:showStyle" class="sidebar-sticky bg-color">
    <div>
        <app-add-modal></app-add-modal>
    </div>
    <ul *ngFor="let account of accountList" class="nav flex-column">
        <li style="overflow: hidden; white-space:nowrap" class="nav-item">
            <label class="container-checkbox">
                <input type="checkbox" checked="checked">
                <app-modal [account]="account"></app-modal>
                <span class="checkmark"></span>
            </label>
        </li>

    </ul>
    </div>

