
<div [ngStyle]="hideSideBar?hideStyle:showStyle" class="sidebar-sticky bg-color">
    <ul class="nav flex-column">
        <li style="overflow: hidden; white-space:nowrap" class="nav-item">
            <label class="container-checkbox">
                <input type="checkbox" checked="checked">
                <button type="button" class="nav-btn"data-toggle="modal" data-target="#exampleModal" (click)="getAccountName($event)">
                    Example Account
                </button>
                <span class="checkmark"></span>
            </label>
        </li>

        <li style="overflow: hidden; white-space:nowrap" class="nav-item">
            <label class="container-checkbox">
                <input type="checkbox">
                <button type="button" class="nav-btn"data-toggle="modal" data-target="#exampleModal2" (click)="getAccountName($event)">
                    Example account 2
                </button>
                <span class="checkmark"></span>
            </label>
        </li> 
    </ul>
    </div>


<!-- Modal -->
<div class="modal fade fix" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-modal [modalTitle]="selectedAccount"></app-modal>
</div>

<!-- Modal -->
<div class="modal fade fix" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-modal [modalTitle]="selectedAccount"></app-modal>
</div>