<nav class="navbar navbar-dark bg-color sticky-top navbar-expand-lg">
    <button class="hamburger_btn bg-color" (click)="toggleSideBar()"><img src="../../assets/icon/hamburger_btn.jpg" /></button>
    <a class="navbar-brand" href="/home">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Need to implement JS for the collapse toggle button to expand -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"
                href="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link"
                href="#">Trends</a></li>
        </ul>
    </div>

    <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link"
                href="/login" (click)="logout()">Logout</a></li>
        </ul>

    </div>
</nav>


