/* You can add global styles to this file, and also import other style files */
.bg-color {
    background-color: #0B2530;
}

.grn-shadow:focus{
    box-shadow: -2px 1px 3px #61D38F, 2px 1px 3px #61D38F, -2px -1px 3px #61D38F, 2px -1px 3px #61D38F;
}

.btn{
    background-color: #42AC6D;
    border-color: #42AC6D;
    color: white;
}

.btn:hover {
    background-color: #175E34;
    border-color: #175E34;
}

.btn:active{
    background-color: #0B361C;
    border-color: #0B361C;
}